@{
    ViewData["Title"] = "Home Page";
}

<canvas class="mask mask-bg"></canvas>
 
<div id="divPage" class="fill">
    @Html.Partial("~/Views/Home/Login.cshtml") 
</div>

<script>
    $(function () {
        var option = {
            //color:'#060',     // 前景色
            //baseColor:'#fff' // 背景色
            //generator:'hexagons' // 样式
        };

        var pattern = GeoPattern.generate('GitHub' + Math.random(), option);
        $('body').css('background-image', pattern.toDataUrl());
 
    });

</script>